<link rel="stylesheet" href="/css/header.css">
<header>
    <h1 class="mt-3">Welcome to CSV Viewer!!</h1>
    <form action="/uploads" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" placeholder="upload file"><br>
        <input type="submit" name="Upload" id="submit">
    </form>
</header>