.fa-eye {
    color: red;
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: 5px;
}

.fa-trash {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
}

#fileList li {
    font-size: 1.4rem;
    margin: 10px;
}

.filename {
    text-transform: capitalize;
    margin-left: -100px;
}